[flake8]
max-complexity = 10
# The GitHub editor is 127 chars wide
max-line-length = 127
ignore =
    # unexpected spaces around keyword / parameter equals
    E251
    # line break before binary operator
    W503
per-file-ignores =
    # imported but unused
    __init__.py: F401
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    .mypy_cache,
    # Skip virtual environments
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak
